.authentication--wrap{
	/*font-size: 0.65em;*/
	/*position: center;*/
	/*bottom: 0;*/
	/*right: 0;*/
	/*width: 100%;*/
	/*padding: 1.5em;*/
	/*display: flex;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
    /*background: var(--background-color-3);*/
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	pointer-events: none;
}

.authentication--layout {
	pointer-events: auto;
	justify-content: center;
	align-content: center;
	grid-template-columns: 150px 150px 150px 150px;
	grid-template-rows: 150px 75px 75px;
	grid-template-areas:	"... title title title"
							"author ... desc desc"
							"author ... link link";
}
.content--layout-2 {
	grid-template-areas:	"... title title title"
							"desc desc ... author"
							"link link ... author";
}